@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.draw-container{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.colors{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.colorPickerCotainer{
    position: relative;
}
.pickerFont{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    top: 0;
    left: 0;
    border-radius: 10px;
    pointer-events: none;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}
#colorPicker {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 10px;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}
.range-container{
    position: relative;
}
#widthRange{
    position: absolute;
    top: -38px;
    left: 5px;
    background: black;
    transform: rotate(-90deg);
}
.hide{
    display: none;
}
.show{
    display: block;
}
.undo,.redo , .clear , .range , .download,.epicycle{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: none;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
.epicycle{
    margin-bottom: 0;
}
.undo,.redo,.clear, #colorPicker , .colors ,input[type = "range"],.epicycle {
    cursor: pointer;
}
.tools{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px ;
    width: 55px;
    padding: 10px;
    background-color: black;
    height: fit-content;
    flex-direction: column;
}
.tag{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px 0 0 0;
}
.fa-paint-roller{
    background-image: linear-gradient(45deg, #ff00dd, #00d9ff);
    background-clip: text;
    color: transparent;
}